<div class="meta compartir-redes-sociales">
	<div class="cont-red-social pull-left">
		<a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-lang="es">Tweet</a>
	</div>
	<div class="cont-red-social pull-left">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
		<fb:send href="http://datos.gob.cl/page/view/acerca-del-sitio"></fb:send>
	</div>
	<div class="clearfix"></div>
</div>
	

<div class="page-content">
	<h2 class="h2 about">Portal de Datos Público</h2>
	<p>En este sitio podrá encontrar conjuntos de información pública del gobierno de manera fácil. Para ello, en algunos casos, la información está publicada en más de un formato.</p>
	<p>Este sitio contiene un buscador y catálogos con diversas categorías para ayudar la búsqueda de la información. También se puede encontrar información georeferenciada y archivos de imágenes. Algunos de estos datos ya están disponibles en diversos sitios de gobierno pero www.datos.gob.cl los reúne en un solo sitio web donde se pueden realizar búsquedas.</p>
	<p>El portal www.datos.gob.cl es un sitio dinámico en constante crecimiento, por lo que seguirá expandiéndose e incorporando la información de otros servicios y más datos de los organismos públicos.</p>
	<p>El objetivo de esta herramienta es que las personas tengan acceso a la información en base a la cual el gobierno toma decisiones para las políticas públicas y que también la puedan utilizar para sus propias investigaciones e intereses. Por ejemplo, construir aplicaciones y conducir análisis.</p>
	<p>Creemos que el acceso a la información y la transparencia beneficia a la democracia y la rendición de cuentas por parte de las autoridades.</p>
	<h2 class="h2 multimedia">Multimedia</h2>
	<iframe src="http://player.vimeo.com/video/43616690?badge=0" width="700" height="481" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	<p><a href="http://vimeo.com/43616690">Portal de datos públicos datos.gob.cl</a> from <a href="http://vimeo.com/modernizacioncl">Modernización y Gob Digital</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
</div>
