
@font-face {
  font-family: 'gobCLRegular';
  src: url('gobcl_regular-webfont.eot');
  src: url('gobcl_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('gobcl_regular-webfont.ttf') format('truetype'),
       url('gobcl_regular-webfont.svg#gobCLRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.account-masthead {
  background-color: #161a38;
}

/* HEADER */

.masthead {
	background-image: url(../assets/img/fondo_header.png);
	background-color: #161a38;
	min-height: 100px;
	height: 100px;
}
a, a:hover, a:active, a:focus {
  text-decoration: none;
}
.masthead .header-image {
    margin-top: 11px;
}
.masthead .header-image .brand-text{
	font-family: 'gobCLRegular';
  font-weight: bold;
  font-size: 35px;
}
.masthead .header-image .brand-text.left{
  color: #e03943;
}
.masthead .header-image .brand-text.right {
  color: #7b6d7e;
}

.masthead .nav>li>a:hover {
  background-color: transparent!important;
}
.nav-pills>li>a {
  text-transform: uppercase;
  font-size: 16px;
  background-color: transparent !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nav-pills>li.active{
  border-bottom: 2px solid #e03943;
}
.nav-pills>li:hover{
  border-bottom: 2px solid #7b6d7e;
}


/* BODY */
body {
  background: white !important;
  font-family: 'gobCLRegular';
}

[role=main] {
     min-height: 50px;
     background: white !important;
}

.box {
    background-color: #FFF;
    border: 0px solid #cccccc; 
    -webkit-border-radius: 0; 
    -moz-border-radius: 0;
    border-radius: 0; 
    -webkit-box-shadow: 0; 
    -moz-box-shadow: 0;
    box-shadow: 0; 
}

.homepage .module-search .module-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #161a38;
  border-bottom: none;
}
.homepage .module-search .tags {
  color: black;
  padding: 5px 10px 10px 10px;
  background-color: white;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.tag {
    color: white;
    display: inline-block;
    margin-bottom: 4px;
    padding: 1px 10px;
    border: 1px solid rgb(15, 92, 133);
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
     border-radius: 3px; 
    -webkit-box-shadow: inset 0 1px 0 rgb(15, 92, 133);
    -moz-box-shadow: inset 0 1px 0 rgb(15, 92, 133);
    box-shadow: inset 0 1px 0 rgb(15, 92, 133);
    background-color: rgb(15, 92, 133);
}

.module-content {
     padding: 0; 
}

.h2 {
    border-bottom: 2px solid #444;
    font-size: 24px;
    line-height: 24px;
    padding: 0 0 5px 40px;
    border-bottom: 2px solid;
    text-transform: uppercase;
}
.cont-red-social {
  margin-right: 10px;
}
.about {
  background: url(/assets/img/acerca.png) 10px top no-repeat;
}
.multimedia {
  background: url(/assets/img/multimedia.png) 10px top no-repeat;
}

/* FOOTER */
.site-footer {
  background: url(/assets/img/fondo_footer.png);
  padding: 20px 0;
}
.site-footer .container {
  padding-top: 100px;
}

/* Carousel */
.carousel-container {
  margin-left: 0 !important;
}
#myCarousel {
  max-width: 1170px;
  margin: 20px auto 0 auto;
}

#myCarousel .cont-carrusel-markers{
  position:absolute;
  overflow:hidden;
  text-align: center;
  left:45%;
  bottom:10px;
}

#myCarousel .cont-carrusel-markers li {
  float:left;
  list-style: none;
  margin-left:10px;
  width:15px;
  height:15px;
}
#myCarousel .cont-carrusel-markers li a{
  background: url(/assets/img/marker.png) left -15px no-repeat;
  text-indent: -9999px;
  display: block; 
}

#myCarousel .cont-carrusel-markers li.active a{
  background-position: left top;
}

#myCarousel .cont-carrusel-control {
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:40px;
  background-color: rgba(0,0,0,0.2);
}

#myCarousel .cont-carrusel-control.right{
  left:auto;
  right:0;
}

#myCarousel .carousel-control {
  top: 50%;
  border :0;
  font-size:80px;
  left:0px;
  color:#fff;
  line-height: 20px;
  background-color: #232f4d;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

#myCarousel .carousel-control.right{
  right:0px;
  left:auto;
}

