{% extends "page.html" %}

{% block subtitle %}{{ _('Reset your password') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Password reset'), controller='user', action='request_reset' %}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      {% block primary_content_inner %}
      <h1 class="page-heading">{{ _('Reset your password') }}</h1>
      {% block form %}
        <form action="" method="post" class="form-inline control-medium">
          <div>
            <label class="reset-label" for="field-email">{{ _('Email') }}</label>
            <input id="field-email" name="email" value="" type="text"/>
          </div>
          <div>
            <label class="reset-label" for="field-rut">RUT</label>
            <input id="field-rut" name="rut" value="" type="text" placeholder="ej. 12.345.678-k"/>
          </div>
          <div>
            <label class="reset-label" for="field-username">{{ _('Username') }}</label>
            <input id="field-username" name="user" value="" type="text" readonly="readonly"/>
          </div>
          {% block form_button %}
          <div class="form-submit">
            <button class="btn check" type="submit" name="check">Obtener nombre de usuario</button>
            <button class="btn btn-primary reset" type="submit" name="reset">Solicitar Cambio de Clave</button>
          </div>
          {% endblock %}
        </form>
      {% endblock %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary_content %}
  {% block help %}
  <section class="module module-narrow module-shallow">
    {% block help_inner %}
    <h2 class="module-heading">{{ _('How does this work?') }}</h2>
    <div class="module-content">
      <p>{% trans %}Enter your username into the box and we will send you
      an email with a link to enter a new password.{% endtrans %}</p>
    </div>
    {% endblock %}
  </section>
  {% endblock %}

  {% resource 'egobcl_theme/reset.js' %}

{% endblock %}
