<footer class="site-footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span3 links">
        <h3>Enlaces Internos</h3>
        <ul class="nav menu-enlaces_internos">
          <li id="menu-item-politica-de-privacidad">
            <a href="/pages/politica-de-privacidad">Política de Privacidad</a>
          </li>
          <li class="divider"></li>
          <li id="menu-item-recursos">
            <a target="_blank" href="http://kitdigital.gob.cl/recursos-de-desarrollo/">Normativa de Datos Abiertos</a>
          </li>
        <li class="divider"></li>
      </ul>
    </div>
    <div class="span4 links">
      <h3>Sitios Relacionados</h3>
      <ul class="nav menu-sitios_relacionados">
        <li id="menu-item-chileatiende">
          <a target="_blank" href="http://www.chileatiende.cl/">ChileAtiende</a>
        </li>
        <li class="divider"></li>
        <li id="menu-item-comision-defensora-ciudadana-cdc">
          <a target="_blank" href="http://www.comisiondefensoraciudadana.cl/">Comisión Defensora Ciudadana (CDC)</a>
        </li>
        <li class="divider"></li>
        <li id="menu-item-gobierno-transparente-chile">
          <a target="_blank" href="http://www.gobiernotransparentechile.cl/">Gobierno Transparente Chile</a>
        </li>
        <li class="divider"></li>
        <li id="menu-item-open-government-partnership-plan-de-accion-chile">
          <a target="_blank" href="http://www.ogp.cl/">Open Government Partnership - Plan de Acción Chile</a>
        </li>
        <li class="divider"></li>
        <li id="menu-item-ley-facil-biblioteca-del-congreso-de-chile">
          <a target="_blank" href="http://www.bcn.cl/guias/">Ley Fácil - Biblioteca del Congreso de Chile</a>
        </li><li class="divider"></li>
      </ul>
    </div>
    <div class="span3 info links">
      <ul class="nav">
        <li>
          <a href="http://www.gobiernodechile.cl/" target="_blank">Gobierno de Chile</a>
        </li>
        <li>
          <a href="http://www.modernizacion.gob.cl" target="_blank">Modernización y Gobierno Digital</a>
        </li>
        <li>
          <a href="http://www.minsegpres.gob.cl/" target="_blank">Ministerio Secretaría General de la Presidencia</a>
        </li>
      </ul>
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/cl/"><img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/cl/80x15.png"></a>
        </p>
      </div>
      <div class="span2 info">
        <p><a href="http://www.modernizacion.gob.cl" target="_blank"><img src="http://datos.gob.cl/assets/img/footer/logo_MyGD.png" alt="logo modernización"></a></p>
        <p><strong>Gestionado con </strong> <a class="ckan-footer-logo" href="http://ckan.org">CKAN</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-25669995-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript">
  window.____aParams = {"gobabierto":"1","buscadore":"1","domain":"www.chilesinpapeleo.cl","icons":"1"};
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.modernizacion.cl/barra/js/barraEstado.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="http://connect.facebook.net/es_CL/all.js#appId=107645905993653&amp;xfbml=1"></script>