{#
  <footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">
      <div class="span8 footer-links">
        {% block footer_nav %}
          <ul class="unstyled">
            {% block footer_links %}
              <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
            {% endblock %}
          </ul>
          <ul class="unstyled">
            {% block footer_links_ckan %}
              {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
              <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
              <li><a href="http://www.okfn.org/">{{ _('Open Knowledge Foundation') }}</a></li>
              <li><a href="http://www.opendefinition.org/okd/"><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}"></a></li>
            {% endblock %}
          </ul>
        {% endblock %}
      </div>
      <div class="span4 attribution">
        {% block footer_attribution %}
          <p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
        {% endblock %}
        {% block footer_lang %}
          {% snippet "snippets/language_selector.html" %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}

</footer>
#}

<footer class="site-footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span3 links">
        <h3>Enlaces Internos</h3>
        <ul class="nav menu-enlaces_internos">
          <li id="menu-item-visualizadores">
            <a href="http://datos.gob.cl/page/view/visualizadores">Visualizadores</a>
          </li>
          <li class="divider"></li>
          <li id="menu-item-politica-de-privacidad">
            <a href="http://datos.gob.cl/page/view/politica-de-privacidad">Política de Privacidad</a>
          </li>
          <li class="divider"></li><li id="menu-item-desarrolladores">
          <a target="_self" href="http://recursos.datos.gob.cl/developers/">Desarrolladores</a>
        </li>
        <li class="divider"></li>
        <li id="menu-item-recursos">
          <a target="_blank" href="http://kitdigital.gob.cl/recursos-de-desarrollo/">Normativa de Datos Abiertos</a>
        </li>
        <li class="divider"></li>
      </ul>
    </div>
    <div class="span4 links">
      <h3>Sitios Relacionados</h3>
      <ul class="nav menu-sitios_relacionados">
        <li id="menu-item-chileatiende">
          <a target="_blank" href="http://www.chileatiende.cl/">ChileAtiende</a>
        </li>
        <li class="divider"></li>
        <li id="menu-item-comision-defensora-ciudadana-cdc">
          <a target="_blank" href="http://www.comisiondefensoraciudadana.cl/">Comisión Defensora Ciudadana (CDC)</a>
        </li>
        <li class="divider"></li>
        <li id="menu-item-gobierno-transparente-chile">
          <a target="_blank" href="http://www.gobiernotransparentechile.cl/">Gobierno Transparente Chile</a>
        </li>
        <li class="divider"></li>
        <li id="menu-item-open-government-partnership-plan-de-accion-chile">
          <a target="_blank" href="http://www.ogp.cl/">Open Government Partnership - Plan de Acción Chile</a>
        </li>
        <li class="divider"></li>
        <li id="menu-item-ley-facil-biblioteca-del-congreso-de-chile">
          <a target="_blank" href="http://www.bcn.cl/guias/">Ley Fácil - Biblioteca del Congreso de Chile</a>
        </li><li class="divider"></li>
      </ul>
    </div>
    <div class="span3 info">
      <p>
        <a href="http://www.gobiernodechile.cl/" target="_blank">Gobierno de Chile</a><br>
        <a href="http://www.modernizacion.gob.cl" target="_blank">Modernización y Gobierno Digital</a> <br>
        <a href="http://www.minsegpres.gob.cl/" target="_blank">Ministerio Secretaría General de la Presidencia</a></p>
        <p>
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/cl/"><img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/cl/80x15.png"></a>
        </p>
      </div>
      <div class="span2 info">
        <p><a href="http://www.modernizacion.gob.cl" target="_blank"><img src="http://datos.gob.cl/assets/img/footer/logo_MyGD.png" alt="logo modernización"></a></p>
        <p><strong>Gestionado con </strong> <a class="ckan-footer-logo" href="http://ckan.org">CKAN</a></p>
      </div>
    </div>
  </div>
</footer>